.Order {
  border: 1px solid #eee;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  width: 40%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Burger {
  margin-top: 40px;
  width: 150px;
  height: 120px;
  margin-right: 20px;
}
.Order span {
  display: block;
}
.Ingredients {
  margin-right: 10px;
}

@media (max-width: 500px) {
  .Order {
    width: 80%;
    flex-direction: column;
  }
  .Burger {
    margin-right: 0px;
    overflow: auto;
    width: 300px;
    height: 250px;
  }
}
@media (max-width: 940px) and (min-width: 501px) {
  .Order {
    width: 90%;
  }
}
