.CheckoutSummary {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.CheckoutSummary h1 {
  text-align: center;
}
@media (max-width: 500px) {
  .CheckoutSummary {
    width: 90%;
    font-size: 10px;
  }
}
