.Container {
  margin: auto;
  max-width: 350px;
  font-size: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.57);
}
.OrderListIcon {
  opacity: 0.5;
  width: 100px;
  height: 100px;
  margin: 100px auto 50px;
}
@media (max-width: 500px) {
  .Container {
    font-size: 18px;
  }
  .Orders {
    flex-direction: column;
    padding: 0;
  }
}
.Orders {
  display: flex;
  flex-flow: wrap;
  padding: 20px;
  justify-content: space-between;
}
