.SlideDrawer {
  width: 100%;
  position: fixed;
  height: 250px;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: white;
  padding: 32px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}
@media (min-width: 500px) {
  .SlideDrawer {
    display: none;
  }
}
.open {
  transform: translateY(0);
}
.close {
  transform: translateY(-100%);
}
.Logo {
  height: 40%;
  text-align: center;
  margin-bottom: 25px;
}
