.SlideDrawer{
    max-width: 70%;
    width: 280px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    background-color: white;
    padding: 32px ;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}
@media (min-width: 500px){
    .SlideDrawer{
        display: none;
    }
}
.open{
    transform: translateX(0);
}
.close{
    transform: translateX(-100%);
}
.Logo{
    height: 11%;
    margin-bottom: 32px;
}