.Input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.Label {
  font-weight: bold;
  display: block;
  font-family: inherit;
  margin-bottom: 8px;
  text-align: left;
  float: left;
  text-transform: capitalize;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: 25px;
}
.InputElement:focus {
  outline: none;
  background-color: #ccc;
}
.Container {
  display: flex;
  position: relative;
}
.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}
.Valid {
  position: absolute;
  top: 12%;
  right: 5px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
  animation: easy-in 0.5s 1;
}
@keyframes easy-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ErrorMessage {
  text-align: left;
  color: red;
  margin: 10px 0;
}
